<div class="row">
    <!-- profile-widget -->
    <div class="col-lg-12">
        <div class="profile-widget profile-widget-info">
            <div class="panel-body">
                <div class="col-lg-2 col-sm-2">
                    <h4>{{ user_profile_data.first_name }} {{ user_profile_data.last_name }}</h4>
                    <div class="follow-ava">
                        <img src="/static/libs/adminpanel/img/profile-widget-avatar.jpg" alt="">
                    </div>
                    <h6>{{ user_profile_data.email }}</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- page start-->
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading tab-bg-info">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" data-target="#profile">
                            <i class="icon-user"></i>
                            Profile
                        </a>
                    </li>
                    <li class="">
                        <a data-toggle="tab" data-target="#edit-profile">
                            <i class="icon-envelope"></i>
                            Edit Profile
                        </a>
                    </li>
                </ul>
            </header>
            <div class="panel-body">
                <div class="tab-content">
                    <!-- profile -->
                    <div id="profile" class="tab-pane active">
                        <section class="panel">
                            <div class="panel-body bio-graph-info">
                                <h1>Info</h1>
                                <div class="row">
                                    <div class="bio-row">
                                        <p><span>First Name </span>: {{ user_profile_data.first_name }} </p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Last Name </span>: {{ user_profile_data.last_name }}</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Occupation </span>: UI Designer</p>
                                    </div>
                                    <div class="bio-row">
                                        <p><span>Email </span>:{{ user_profile_data.email }}</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <section>
                            <div class="row">
                            </div>
                        </section>
                    </div>
                    <!-- edit-profile -->
                    <div id="edit-profile" class="tab-pane">
                        <section class="panel">
                            <div class="panel-body bio-graph-info">
                                <h1> Profile Info</h1>
                                <form class="form-horizontal" role="form" name="userProfileForm"
                                      ng-submit="updateProfile(userProfileForm, user_profile_data)" novalidate>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">First Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="f-name" placeholder="First Name"
                                                   ng-model="user_profile_data.first_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-2 control-label">Last Name</label>
                                        <div class="col-lg-6">
                                            <input type="text" class="form-control" id="l-name" placeholder="Last Name"
                                                   ng-model="user_profile_data.last_name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- page end-->
